@import "partials/variables";
@import "partials/mixin";

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: $text-font;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    color: $text-color; 
    background-color: $main-background-color;
  }

  a {
    color: $text-secondary-color;
    text-decoration: none;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 3px #777;
    background-color: $theme-color;
    border-bottom: 1px solid #F0E6E5;
    font-weight: 600;

    #bio {
        margin-left: 5px;
    }
      
    #port {
        margin-left: -28px;
    }
      
    #contact {
        margin-left: -18px;
    }
  }
  
  .navbar {
    display: inline-block;
    font-size: 16px;

    &:hover {
        transform: scale(1.10);
        transition: 0.4s;
    }

    @include small-screens {
        margin-right: 50px;
        font-size: 18px;
    }
  }
  
  .navbar-middle {  
    margin-right: 30px;
    margin-left: 30px;

    @include small-screens {
        margin-right: 50px;
    }
  }
  
  .navlinks:hover {
    font-weight: 600;
    text-decoration: underline;
  }
  
  header {
    padding: 6% 4% 4% 4%;

    h1 {
        font-size: 48px;
        font-family: $heading-font;
        text-shadow: 1px 3px 2px rgba(0,0,0,0.3);
        letter-spacing: 4px;
    
        @include small-screens {
            font-size: 50px;
        }
    }

    .portrait {
        border-radius: 15px 50px 30px; 
        box-shadow: 0 7px 10px rgba(0,0,0,0.3);
        width: 230px;
        border: 2px solid $portrait-border-color;

        @include medium-screens {
            width: 260px;
        }
    }

    .caption {
        font-style: italic;
        font-size: 18px;
        font-weight: 600;
    }
  }
  
  main {
    padding-top: 70px;

    section {
        min-height: 200px;
        padding: 15px;
    }
  }
  
  span {
    font-weight: bolder;
  }
  
  .divider {
    max-width: 60%;
    height: 0;
    border-top: 4px solid $theme-color;
    font-size: 0;
    margin: 40px auto;
  }
  
  #bioSec {
    padding: 2% 6%;
    background-color: $bio-background-color;

    .bio-detail {
        display: inline-block;
          text-align: left;

        .skills-list {
            margin: 0 auto;
            text-align: left;
        
            @include small-screens {
                max-width: 600px;
            }
        }

        h3 {
            font-weight: 600;
            text-align: center;
        }

        #edu-title {
            margin-top: 60px;
        }

        .highlight {
            background-color: $theme-color;
            padding: 5px;
            color: $text-secondary-color;
            border: 2px solid #B98B84;
        }
    }
  }

  h2 {
    font-size: 45px;
    padding-top: 15px;
    font-family: $heading-font;
    text-shadow: 1px 2px 3px rgba(0,0,0,.3);
    letter-spacing: 2px;
  }
  
  #portLink {   /* link to portfolio sec */
    margin-top: -100px; 
  }
  
  #portTitle {
    margin-top: 160px;
  }
  
  ul {
    list-style: none;
    padding: 1%;
    display: inline-block;
    text-align: left;

  
    li:first-child {
        text-align: center;
    
        @include medium-screens {
            margin-bottom: 5px;
        }
    }
  }
   
  .appDescr {
    background-color: $project-background-color;
    padding: 0;
    border-bottom: 2px solid $theme-color;

    #capstone-gray {
        border: 2px solid $project-gray-color;
        padding: 5px;
        box-shadow: 0 2px 10px $project-gray-color;
    
        &:hover {
            @include transition;
            box-shadow: 0px 2px 20px #444757;
            border-color: #80839b;
        }
      }
      
      #capstone-blue {
        border: 2px solid $project-blue-color;
        padding: 5px;
        box-shadow: 0 2px 10px $project-blue-color;
    
        &:hover {
            @include transition;
            box-shadow: 0px 2px 20px #3675E7;
            border-color: #A9C4F5;
        }
      }
      
      #capstone-green {
        border: 2px solid $project-green-color;
        padding: 5px;
        box-shadow: 0 2px 10px $project-green-color;
    
        &:hover{
            @include transition;
            box-shadow: 0px 2px 20px #6FA96F;
            border-color: #BFD9BF;
        }
    }

    .border-container {
        margin-top: -5px;
        padding: 2% 4%;
        padding-bottom: 20px;

        .appName {
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            font-size: 18px;
            font-weight: 400;
            font-family: $heading-font;
            margin-right: 2px;
        }

        .sitelink {
            color: $text-color;
            font-weight: bold;
        
            &:hover {
                border-bottom: 2px solid;
            }
        }

        .skipline {
            margin-top: 10px;

            .listHead {
                font-weight: 650;
                text-decoration: underline;
                font-family: $heading-font;
                letter-spacing: 1px;
            }
        }
    
        @include large-screens {
            padding: 2%;    
        }
    }
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  

    section {   /*so each element same height as the others*/
        display: flex;
        max-width: 100%;
        height: auto;
    
        @include small-screens {
            max-width: 80%;
        }
    
        @include medium-screens {
            max-width: 50%;
        }
    
        @include large-screens {
            max-width: 45%;
        }
    
        @include wide-screens {
            max-width: 39%;
        }
    }

    img {
        max-width: 100%;
    }
  }

  button {
    background: $theme-color;
    font-weight: 600;
    text-align: center;
    border-radius: 2px;
    border-style: none;
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.3);
    padding: 6px 12px;
    margin: 3px;
    letter-spacing: 1px;
  }
    
  .buttonNew {
    color: $text-secondary-color;

    &:hover {
        border-bottom: 2px solid white;
        transition: 0.2s;
    }
  }
    
  footer {
    padding: 4% 2%;

    .footDescr {
        height: 60px;
        text-align: center;
        font-size: 18px;
    }

    a {
        color: $theme-color;
        text-decoration: underline;
    }

    .contact-middle {
        margin-right: 30px;
        margin-left: 30px;
    }

    .contact:hover {
        position: relative; 
        top: -5px;
        opacity: 0.8;
        transition: 0.5s;
    }

    .copyright {
        margin-top: 50px;
        font-size: 14px;
    }
  }
