// ===variables===

//colors
$text-color: #7C3C34;
$text-secondary-color: #FCFAFA;
$theme-color: #A04D43;
$portrait-border-color: Whitesmoke;
$main-background-color: #F3F3F3;
$bio-background-color: #F1E3E5;

$project-background-color: #D9DAE1;
$project-gray-color: #5B5E73;
$project-blue-color: Cornflowerblue;
$project-green-color: DarkSeaGreen;

//fonts
$text-font: 'Bai Jamjuree', sans-serif;
$heading-font: 'Oswald', sans-serif;
